<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="${specialfolder:folder=ApplicationData}/@companyName/@appName/${shortdate}" />
  <targets>
    <target name="file" xsi:type="File"
            fileName="${logDirectory}/${level}.log"
            layout="${time} ${callsite}: ${message}" />
  </targets>
  <rules>
    <logger name="*" minLevel="Info" appendTo="file" />
  </rules>
</nlog>